        <body data-spy="scroll" data-target=".navbar" data-offset="50">


        <!--Sidebar--> 
        <div class="sidebars">           
            <div class="sidebar right offcanvas-nav">
                <div class="sidebar-head nav-head">
                    <div class="pt20">
                        <a id="logo-container" href="index-cloud.html" class="brand-logo">

                            <img class="img img-responsive sidebar-logo" src="/assets/logo.png" alt="appestia logo">                       

                        </a>
                        <div>
                            <span class="sidebar-btn sidebar-close-btn fa-bar-show" data-action="toggle" data-side="right">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>
                    <div class="sidebar-search">                             
                        <form class="form-material">
                            <div class="form-group">
                                <input type="text" class="form-control" required="">                                            
                                <span class="form-bar"></span>
                                <label class="float-label">Search</label>
                                <i class="fa fa-search search-icon"></i>
                            </div>
                        </form>
                    </div>

                    <div class="cd-stretchy-nav add-content">  
                        <a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in" class="nav-link sidebar-login">Login</a>
                        <a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-up" class="text-smaller text-warning sidebar-signup">Signup</a> 
                        <a class="cd-nav-trigger" href="#0">                            
                            <span aria-hidden="true"></span>
                        </a>    
                        <ul>
                            <li class="fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="twt"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="skype"><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li class="l_in"><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                        </ul>

                        <span aria-hidden="true" class="stretchy-nav-bg"></span>

                    </div> 
                </div>
                <div id="side-scroll" class="nav-body sidebar-body">
                    <div class="overflow">
                        <div class="row sidebar-download-btn">
                            <div class="col-md-6 col-sm-6 side-app">
                                <a class="btn btn-primary common-btn colored-button float-button-light">                           
                                    <i class="fa fa-cloud-download mr5"></i> App Store
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <a class="btn btn-primary common-btn colored-button float-button-light">                           
                                    <i class="fa fa-cloud-download mr5"></i> Google Play
                                </a>
                            </div>
                        </div> 
                        <div class="col-sm-12">
                            <div class="accordion text-left" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel">
                                    <div class="title" id="headingOneside">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#sidecollapseOne" aria-expanded="true">
                                            <i class="fa fa-caret-right icon-color mr5"></i> Lorem Message 
                                        </a>
                                    </div>
                                    <div id="sidecollapseOne" class="desc panel-collapse collapse" role="tabpanel" aria-labelledby="headingOneside">
                                        Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam.
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="title" id="headingThreeside">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#sidecollpaseTwo" aria-expanded="false"><i class="fa fa-caret-right icon-color mr5"></i>Lorem Message

                                        </a>
                                    </div>
                                    <div id="sidecollpaseTwo" class="desc panel-collapse collapse mb20" role="tabpanel" aria-labelledby="headingThreeside">
                                        Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam.
                                    </div>
                                </div>
                            </div>
                        </div>                            
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs nav-justified sidebar-body-white">
                                <li class="active">
                                    <a data-toggle="tab" href="#flicker">Flicker</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#blog">Blog</a>
                                </li>                                     
                            </ul>   
                            <div class="tab-content">
                                <div id="flicker" class="tab-pane fade in active">
                                    <div class="col-md-12 no-padding feature-right-gallery sidebar-body-white">                                        
                                        <div class="row">
                                            <div class="col-md-4 col-xs-4 col-sm-4">
                                                <a class="example-image-link" href="images/port2_4.html" data-lightbox="example-set">
                                                    <img src="/assets/team-1.jpg" alt="person1">
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-xs-4 col-sm-4">
                                                <a class="example-image-link" href="images/port2_3.html" data-lightbox="example-set">
                                                    <img src="/assets/team-2.jpg" alt="person2">
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-xs-4 col-sm-4">
                                                <a class="example-image-link" href="images/port2_2.html" data-lightbox="example-set">
                                                    <img src="/assets/team-3.jpg" alt="person3">
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-xs-4 col-sm-4">
                                                <a class="example-image-link" href="images/port2_web_2.html" data-lightbox="example-set">
                                                    <img src="/assets/team-2.jpg" alt="person4">
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-xs-4 col-sm-4">
                                                <a class="example-image-link" href="images/port2_web_1.html" data-lightbox="example-set">
                                                    <img src="/assets/team-1.jpg" alt="Chania">
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-xs-4 col-sm-4">
                                                <a class="example-image-link" href="images/port2_logo_2.html" data-lightbox="example-set">
                                                    <img src="/assets/team-2.jpg" alt="Chania">
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-xs-4 col-sm-4">
                                                <a class="example-image-link" href="images/port2_5.html" data-lightbox="example-set">
                                                    <img src="/assets/team-4.jpg" alt="Chania">
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-xs-4 col-sm-4">
                                                <a class="example-image-link" href="images/port2_6.html" data-lightbox="example-set">
                                                    <img src="/assets/team-3.jpg" alt="Chania">
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-xs-4 col-sm-4">
                                                <a class="example-image-link" href="images/port2_logo_1.html" data-lightbox="example-set">
                                                    <img src="/assets/team-4.jpg" alt="Chania">
                                                </a>
                                            </div>
                                        </div>                      
                                    </div>
                                </div>
                                <div id="blog" class="tab-pane fade sidebar-body-white">
                                    <div class="sidebar-blog col-sm-12">
                                        <div class="col-sm-3 example-image-link">
                                            <img src="/assets/team-4.jpg" alt="Chania">
                                        </div>
                                        <div class="col-sm-9 text-left">
                                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut...</p>
                                            <i class="fa fa-clock-o icon-color mr5"></i>
                                            <span class="icon-color">Saturday, April 01:13 </span>
                                            <i class="fa fa-reply pull-right"></i>
                                        </div>
                                    </div>
                                    <div class="sidebar-blog col-sm-12">
                                        <div class="col-sm-3 example-image-link">
                                            <img src="/assets/team-2.jpg" alt="Chania">
                                        </div>
                                        <div class="col-sm-9 text-left">
                                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut...</p>
                                            <i class="fa fa-clock-o icon-color mr5"></i>
                                            <span class="icon-color">Monday, May 02:03 </span>
                                            <i class="fa fa-reply pull-right"></i>
                                        </div>
                                    </div>
                                    <div class="sidebar-blog col-sm-12">
                                        <div class="col-sm-3 example-image-link">
                                            <img src="/assets/team-1.jpg" alt="Chania">
                                        </div>
                                        <div class="col-sm-9 text-left">
                                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut...</p>
                                            <i class="fa fa-clock-o icon-color mr5"></i>
                                            <span class="icon-color">Thursday, May 03:30 </span>
                                            <i class="fa fa-reply pull-right"></i>
                                        </div>
                                    </div>
                                </div>                                    
                            </div>
                        </div>                           
                    </div>
                </div>                       
            </div>
        </div>     

        <!--End of sidebar-->        

        <!--Nav Menu Ends--> 

        <!-- Home Section Starts -->  

        <header id="home">        

            <section id="index-banner" class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/assets/home-bg2.jpg);">

            <div class="bg-opacity-layer"></div>

                <!--Cloud Section-->
                <div class="clouds"></div>  
                <!--Cloud Section End--> 
                <div id="header" class="home-center">
                    <div class="container text-center">
                        <h1>Appestia</h1>
                        <p class="mt30">
                            The best start up for <br>your app 
                        </p>
                        <div class="row text-center">
                            <div class="col-md-7 hidden-xs hidden-sm os-animation animated fadeInLeft" data-os-animation="fadeInLeft" data-os-animation-delay="0.5s" style="animation-delay: 0.5s;" data-os-animation-duration="2.5s">
                                <img class="img img-responsive" src="/assets/home_mob.png" alt="Home-Mobile">
                            </div>
                            <div class="col-md-5">
                                <div class="btn-wrap">
                                    <a class="btn default_color available-btn colored-button float-button-light">
                                        <i class="fa fa-mobile"></i>
                                        <em> Available on </em>
                                        App store
                                    </a>
                                    <a class="btn default_color available-btn colored-button float-button-light">
                                        <i class="fa fa-android"></i>
                                        <em> Available on </em>
                                        Google Play
                                    </a>                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> 
        </header>  
        <!-- Home Section Ends -->  
        <!-- Magical Features Starts -->
        <section id="magical_feature">
            <div class="container text-center">
                <h2 class="mb40">Best Startup <span class="bolder">App </span>Landing Page</h2>
                <div class="row">
                <p class="col-md-10 col-md-offset-1 col-xs-12 primary title-para">  
                        The new Appestia app landing pages brings to you many new amazing features. Appestia app landing come along with three different variant. Make your stunning app and market it by Appestia app landing page.
                </p>
                </div>
               
            </div>
        </section>
        <!-- Magical Features Ends -->
        <!-- Start [Features Description] -->
        <section id="feature-desc"> 
            <div class="container">             
                <div class="row">
                    <div class="col-md-4 col-sm-12 text-center">
                        <div class="icon-block mb50 mb_margin30">
                            <span class="icon-color">
                                <i class="fa fa-laptop"></i>
                            </span>
                            <h3>Fully Responsive</h3>
                            <p>
                                Appestia app landing page comes with fully responsive design - work with all the devices like Desktop, Mobiles, iPad, Tablets. Design run smoothly
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center">
                        <div class="icon-block mb50 mb_margin30">
                            <span class="icon-color">
                                <i class="fa fa-sort-numeric-asc"></i>
                            </span>
                            <h3>12+ Demos</h3>
                            <p>
                                Appestia app landing page comes with fully responsive design - work with all the devices like Desktop, Mobiles, iPad, Tablets. Design run smoothly                               
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center">
                        <div class="icon-block mb_margin30 ">
                            <span class="icon-color">
                                <i class="fa fa-paint-brush"></i>
                            </span>
                            <h3>Color Varient</h3>
                            <p>
                                Appestia app landing page comes with fully responsive design - work with all the devices like Desktop, Mobiles, iPad, Tablets. Design run smoothly 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 text-center">
                        <div class="icon-block mb_margin30">
                            <span class="icon-color">
                                <i class="fa fa-twitter"></i>
                            </span>
                            <h3>Twitter Live Tweet</h3>
                            <p>
                                Twitter api is integrated with Appestia app landing page. User can see your page's live twitter tweet. Quick installation in one step using documentation
              </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center">

                        <div class="icon-block mb_margin30">

                            <span class="icon-color">
                                <i class="fa fa-cogs"></i>
                            </span>
                            <h3>Contact Form Ready</h3>
                            <p>
                Appestia app landing page come along the working contact form with form validation and send mail ready. You just need to setup the quick installation
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center">
                        <div class="icon-block mob-icon-block">
                            <span class="icon-color">
                                <i class="fa fa-envelope-o"></i>
                            </span>
                            <h3>MailChimp Ready</h3>
                            <p>
               Appestia app landing page come along the working mailchimp auto subscriber api. The process needs the quick installation process using documentation
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- End [Features Description] -->

        <!-- Start [key-feature] -->

        <section id="key-feature">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 well-pad3 bg-image2-wrap p0">
                        <div class="col-md-5 col-sm-12 bg-image2_cnt mb40 mb_margin0">
                            <h2 class="mb40">All You Want <span class="bolder">From App</span></h2>
                            <p class="title-para mb40">Appestia is clean, modern landing page for showcase your elegant app.</p>
                            <div class="box mb40">

                                <div class="box_aside">
                                    <i class="fa fa-file icon-color"></i>
                                </div>
                                <div class="box_cnt box_cnt__no-flow">

                                    <h3>PSD is Included</h3>

                                    <p>
                                        The graphic source file in PSD format is included in the archive. 
                                        You can modify it as you like. Enjoy with it.
                                    </p>
                                </div>
                            </div>

                            <div class="box mb40">

                                <div class="box_aside box-aside15">

                                    <i class="fa fa-mobile icon-color fa-2x mt-10"></i>
                                </div>
                                <div class="box_cnt box_cnt__no-flow">

                                    <h3>Responsive Design</h3>
                                    <p>
                                        Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.
                                    </p>
                                </div>
                            </div>

                            <div class="box mb40 mb_margin0">

                                <div class="box_aside">
                                    <i class="fa fa-file-text-o icon-color"></i>
                                </div>
                                <div class="box_cnt box_cnt__no-flow">

                                    <h3>Documentation</h3>

                                    <p>
                                        The detailed documentation helps you for your entire project.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="iphone-hand hidden-xs hidden-sm os-animation" data-os-animation="slideInUp" data-os-animation-delay="0.2s" data-os-animation-duration="0.8s">
                                <img class="img img-responsive" src="/assets/iphone-hand2.png" alt="Iphone-Hand" />
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </section>

        <!-- End [key-feature] --> 

        <!-- Start [Video]-->
        <section class="video-jarallax text-center">
            <div class="container">
                <div class="row">
                    <h2 class="mb40">Description With <span class="bolder">Video</span></h2>
            <p class="mb40 col-md-10 col-md-offset-1">Appestia is clean, modern landing page for showcase your elegant app along its Video. Showup your elegant app video to your precious users</p>
                    <div class="col-sm-12 video-img-block mb20">
                        <img class="img img-responsive" src="/assets/video-bg.jpg" alt="Video Background" />
                        <div class="video-play-icon">
                            <a class="video" title="Video Presentation" href="https://player.vimeo.com/video/61373732?color=ff0179&amp;title=0&amp;byline=0&amp;portrait=0">
                              <i class="fa fa-play icon-color"></i>

                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End [Video]-->  

        <!-- Start [Some Facts]--> 

        <section id="some_facts">
            <div class="container">
                <div class="row">
                    <h2 class="text-center mb40 mb_margin0">Some Facts Using <span class="bolder">Appestia</span></h2>
                </div>   
                <div class="row text-center circle-block">
                    <div class="col-md-3 col-sm-3 wow zoomIn animated mob-circle" data-wow-duration="2s"> 
                        <div id="circle1">
                            <strong>
                                <span class="counter" style="display: inline-block;">5147</span>k                            
                            </strong>
                        </div>
                        <h4 class="circle-txt">Line Of Code</h4>
                        <a href="#"  class=" btn circle-user">
                            <i data-toggle="tooltip" data-placement="bottom" title="Line Of Code" class="fa fa-code"></i>
                        </a>
                    </div> 
                    <div class="col-md-3 col-sm-3 wow zoomIn animated mob-circle" data-wow-duration="2s">
                        <div id="circle2"><strong><span class="counter" style="display: inline-block;">100</span>k</strong></div>
                        <h4 class="circle-txt">Happy User</h4>
                        <a href="#" class="btn circle-user">
                            <i data-toggle="tooltip" data-placement="bottom" title="Happy User" class="fa fa-user"></i>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 wow zoomIn animated mob-circle" data-wow-duration="2s">
                        <div id="circle3"><strong><span class="counter" style="display: inline-block;">1,100</span>+</strong></div>
                        <h4 class="circle-txt">Downloads</h4>
                        <a href="#" class="btn circle-user">
                            <i data-toggle="tooltip" data-placement="bottom" title="Downloads" class="fa fa-cloud-download"></i>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-3 wow zoomIn animated mob-circle" data-wow-duration="2s">
                        <div id="circle4"><strong><span class="counter" style="display: inline-block;">4.5</span></strong></div>
                        <h4 class="circle-txt">App Rates</h4>
                        <a href="#" class="btn circle-user">
                            <i data-toggle="tooltip" data-placement="bottom" title="App Rates" class="fa fa-star"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- End [Some Facts]--> 

        <!-- Start [Why_Us]--> 

        <section id="why_us">
            <div class="container">
                <div class="row valign-wrapper set-wrapper">
                    <div class="col-md-6">
                        <div class="choose_phone hidden-xs hidden-sm">
                            <img class="img img-responsive phone1" src="/assets/why_us-1.png" alt="Phone1" />
                            <img class="img img-responsive phone2 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.5s" data-os-animation-duration="0.8s" src="/assets/why_us-2.png" alt="Phone1" />
                        </div>
                    </div>
                    <div class="col-md-6 choose_us_txt">
                        <h2 class="mb40">Explore Amazing <span class="bolder">Features</span></h2>
                        <p class="mb20">
                            Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <ul class="mt30 pl0">

                            <li class="amazing-feature-text">
                                <i class="fa  fa-check icon-color"></i><p>PSD included</p>
                            </li>

                            <li class="amazing-feature-text">
                                <i class="fa fa-check icon-color"></i><p>Intergrated pop-up video</p>
                            </li>

                            <li class="amazing-feature-text">
                                <i class="fa fa-check icon-color"></i><p>Screenshot slider</p>
                            </li>

                            <li class="amazing-feature-text">
                                <i class="fa fa-check icon-color"></i><p>QrCode to download app</p>
                            </li>

                            <li class="amazing-feature-text">
                                <i class="fa fa-check icon-color"></i><p>Team, Pricing table, Review, Google Map, follow, etc sections</p>
                            </li>                           
                        </ul>
                        <a class="colored-button button btn btn-primary common-btn float-button-light mt15 mb20">                           
                            <i class="fa fa-download mr5"></i> DOWNLOAD
                        </a>
                    </div>
                </div>
            </div>   
        </section>

        <!-- End [Why_Us]--> 

        <!-- Start [Screenshots]--> 

        <section id="screenshots" class="screenshot">
            <div class="container text-center mb50">
                <h2>Screenshots Is <span class="bolder">Here</span></h2>
            </div>
            <!--Screenshot Phone Background-->  
            <div class="container">          
            <div class="owl-main-section">
                <div class="ss-phone hidden-xs hidden-sm">
                    <img src="/assets/iphone.png" alt="iphone schreenshot background">
                </div>
            </div>                                    
            <!-- Screenshots -->
            <div id="owl-demo" class="owl-carousel main-item-list">
                <div class="item">
                    <div class="thumb"> <img class="" src="/assets/sc-1.jpg" alt="appestia screenshot1"></div>
                </div>
                <div class="item">
                    <div class="thumb"> <img class="" src="/assets/sc-2.jpg" alt="appestia screenshot1"></div>
                </div>
                <div class="item">
                    <div class="thumb"> <img class="" src="/assets/sc-3.jpg" alt="appestia screenshot1"></div>
                </div>
                <div class="item">
                    <div class="thumb"> <img class="" src="/assets/sc-4.jpg" alt="appestia screenshot1"></div>
                </div>
                <div class="item">
                    <div class="thumb"> <img class="" src="/assets/sc-5.jpg" alt="appestia screenshot1"></div>
                </div>
                <div class="item">
                    <div class="thumb"> <img class="" src="/assets/sc-6.jpg" alt="appestia screenshot1"></div>
                </div>
                <div class="item">
                    <div class="thumb"> <img class="" src="/assets/sc-7.jpg" alt="appestia screenshot1"></div>
                </div>
                <div class="item">
                    <div class="thumb"> <img class="" src="/assets/sc-8.jpg" alt="appestia screenshot1"></div>
                </div>
            </div>
            </div>
        </section>

        <!-- End [Screenshots]--> 

        <!--Start [Testimonials]-->

        <section id="testimonials" class="jarallax testimonial-jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/assets/parallax-2.jpg);">
            <div class="container">
                <div class="row">
          <h2 class="text-center mb40">What our <span class="bolder">client say </span> !</h2>
                </div>
                <div class="testimonials">
                    <div id="owl-demo2" class="owl-carousel">
                        <div class="item">
                            <blockquote>
                                Sit amet conse ctetur adipisicing elit, 
                                sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, 
                                quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            </blockquote>
                            <div class="box">
                                <div class="box_aside">
                                    <img class="mb10" src="/assets/faces1.jpg" alt="testimonial face1">
                                </div>
                                <div class="box_cnt">
                                    <h3 class="pt40 mb10"><cite class="bold">Lorem ipsum dolor sit</cite></h3>
                                    <p>Cnse ctetur adipisicing elit, sed do eiusm</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <blockquote>
                                Sit amet conse ctetur adipisicing elit, 
                                sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, 
                                quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            </blockquote>
                            <div class="box">
                                <div class="box_aside">
                                    <img class="mb10" src="/assets/faces2.jpg" alt="testimonial face2">
                                </div>
                                <div class="box_cnt">
                                    <h3 class="pt40 mb10"><cite class="bold">Lorem ipsum dolor sit</cite></h3>
                                    <p>Cnse ctetur adipisicing elit, sed do eiusm</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <blockquote>
                                Sit amet conse ctetur adipisicing elit, 
                                sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, 
                                quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            </blockquote>
                            <div class="box">
                                <div class="box_aside">
                                    <img class="mb10" src="/assets/faces3.jpg" alt="testimonial face3">
                                </div>
                                <div class="box_cnt">
                                    <h3 class="pt40 mb10"><cite class="bold">Lorem ipsum dolor sit</cite></h3>
                                    <p>Cnse ctetur adipisicing elit, sed do eiusm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </section>

        <!-- End [Testimonials]-->

        <!--Start [Our Team]-->

        <section id="team">
            <div class="container">
                <div class="row">
                    <h2 class="text-center mb40">Made By <span class="bolder">Professionals Team</span></h2>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 col-sm-6 team-block">
                        <img class="img img-responsive" src="/assets/team-1.png" alt="team1" />
                        <div class="team-desc">
                            <div class="team-name"><h4>John Doe</h4></div>
                            <div class="team-position"><p>Chief Manager</p></div>
                            <ul class="team-socials">
                                <li class="fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twt"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="skype"><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li class="l_in"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 team-block">
                        <img class="img img-responsive" src="/assets/team-2.png" alt="team2" />
                        <div class="team-desc">
                            <div class="team-name"><h4>Jane Doe</h4></div>
                            <div class="team-position"><p>General Manager</p></div>
                            <ul class="team-socials">
                                <li class="fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twt"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="skype"><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li class="l_in"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 team-block">
                        <img class="img img-responsive" src="/assets/team-3.png" alt="team3" />
                        <div class="team-desc">
                            <div class="team-name"><h4>Peter Doe</h4></div>
                            <div class="team-position"><p>Head Accountant</p></div>
                            <ul class="team-socials">
                                <li class="fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twt"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="skype"><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li class="l_in"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 team-block">
                        <img class="img img-responsive" src="/assets/team-4.png" alt="team4" />
                        <div class="team-desc">
                            <div class="team-name"><h4>Luke Doe</h4></div>
                            <div class="team-position"><p>Graphic Designer</p></div>
                            <ul class="team-socials">
                                <li class="fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twt"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="skype"><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li class="l_in"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!--End [Our Team]-->

        <!--Start [Packages]-->

        <section id="packages">
            <div class="container">
                <div class="row">
                    <h2 class="text-center mb40">Affordable <span class="bolder">Packages</span></h2> 
                    <div class="col-md-4 col-sm-12 mob-pkg">
                        <div class="pricing-table">
                            <div class="pricing-table_header text-center">
                                <h3>Personal</h3>
                                <div class="price">$25<span>/month</span></div>
                            </div>
                            <div class="pricing-table_cnt">
                                <ul class="marked-list pl0">
                                    <li class="active">Lorem ipsum dolor sit amet</li>
                                    <li class="active">Conse ctetur adipisicing</li>
                                    <li class="active">Elit sed do eiusmod tempor</li>
                                    <li class="op6">Incididunt ut labore</li>
                                    <li class="op6">Et dolore magna aliqua</li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-4 col-sm-12 mob-pkg">
                        <div class="pricing-table">
                            <div class="pricing-table_header pricing_active text-center">
                                <h3>Business</h3>
                                <div class="price">$65<span>/month</span></div>
                            </div>
                            <div class="pricing-table_cnt">
                                <ul class="marked-list pl0">
                                    <li class="active">Lorem ipsum dolor sit amet</li>
                                    <li class="active">Conse ctetur adipisicing</li>
                                    <li class="active">Elit sed do eiusmod tempor</li>
                                    <li class="active">Incididunt ut labore</li>
                                    <li class="op6">Et dolore magna aliqua</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mob-pkg">
                        <div class="pricing-table">
                            <div class="pricing-table_header text-center">
                                <h3>Ultimate</h3>
                                <div class="price">$95<span>/month</span></div>
                            </div>
                            <div class="pricing-table_cnt">
                                <ul class="marked-list pl0">
                                    <li class="active">Lorem ipsum dolor sit amet</li>
                                    <li class="active">Conse ctetur adipisicing</li>
                                    <li class="active">Elit sed do eiusmod tempor</li>
                                    <li class="active">Incididunt ut labore</li>
                                    <li class="active">Et dolore magna aliqua</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--End [Packages]--> 

        <!--Start [Client]-->

        <section id="client" class="jarallax testimonial-jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/assets/home-bg2.jpg);">
            <div class="container">
                <div class="row">
                    <h2 class="text-center mb40">Our App In <span class="bolder">News</span></h2>
                </div>
            </div>
            <div class="container">
                <div class="client-owl">
                    <div class="item">
                        <div class="logo"><img src="/assets/client-1.png" class="responsive-img" alt="appestia client-1"></div>
                    </div>
                    <div class="item">
                        <div class="logo"><img src="/assets/client-2.png" class="responsive-img" alt="appestia client-2"></div>
                    </div>
                    <div class="item">
                        <div class="logo"><img src="/assets/client-3.png" class="responsive-img" alt="appestia client-3"></div>
                    </div>
                    <div class="item">
                        <div class="logo"><img src="/assets/client-4.png" class="responsive-img" alt="appestia client-4"></div>
                    </div>
                    <div class="item">
                        <div class="logo"><img src="/assets/client-5.png" class="responsive-img" alt="appestia client-5"></div>
                    </div>
                    <div class="item">
                        <div class="logo"><img src="/assets/client-1.png" class="responsive-img" alt="appestia client-6"></div>
                    </div>
                    <div class="item">
                        <div class="logo"><img src="/assets/client-6.png" class="responsive-img" alt="appestia client-7"></div>
                    </div>
                    <div class="item">
                        <div class="logo"><img src="/assets/client-3.png" class="responsive-img" alt="appestia client-8"></div>
                    </div>
                </div>
            </div>            
        </section>

        <!--End [Client]-->

        <!--Start [Twitter]-->

        <section class="twitter-main" id="tweet">
            <div class="container text-center">
                <h2 class="mb40">Tweet @ <span class="bolder">Phoenixcoded</span></h2>
            </div>
            <div class="container">
                <div class="tweet text-center"></div>
            </div>
        </section>

        <!--End [Twitter]-->

        <!--Start [Asked Quetions]-->

        <section id="quetions">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center que-left">
                        <i class="fa fa-question-circle fa-5x icon-color mb20" aria-hidden="true"></i>
                        <h2>If you have any question please feel free shoot a message</h2>
                        <button type="button" class="btn btn-primary common-btn colored-button float-button-light"><i class="fa fa-phone mr5"></i> CONTACT US</button>
                    </div>
                    <div class="col-sm-6"> 
                        <div class="accordion" id="only-one">
                            <div class="panel">
                                <div class="title">
                                    <a data-toggle="collapse" data-parent="#only-one" href="#collapse1" aria-expanded="true"><i class="fa fa-caret-right icon-color mr5"></i>Lorem Message</a>
                                </div>      
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body desc">
                                        <p> 
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div>                                    
                                    <h4 class="panel-title title">
                                        <a data-toggle="collapse" data-parent="#only-one" href="#collapse2"><i class="fa fa-caret-right icon-color mr5"></i>Lorem Message</a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body desc">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div>                                    
                                    <h4 class="panel-title title">
                                        <a data-toggle="collapse" data-parent="#only-one" href="#collapse3"><i class="fa fa-caret-right icon-color mr5"></i>Lorem Message</a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body desc">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div>                                    
                                    <h4 class="panel-title title">
                                        <a data-toggle="collapse" data-parent="#only-one" href="#collapse4"><i class="fa fa-caret-right icon-color mr5"></i>Lorem Message</a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                    <div class="panel-body desc">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div>
            </div>
        </section>

        <!--End [Asked Quetions]-->  

        <!--Start [Subscribe]-->

        <section id="subscribe">
            <div class="container text-center">

                <div class="row">

                    <h2 class="mb40">Signup To Our <span class="bolder">Newsletter</span></h2>
                  
                    <p class="col-md-10 col-md-offset-1 text-center title-para mb30">
                        Enter your email address into our subscribe form to keep your self updating with our newsletter. You can get all the latest news updates, new product features launch info, community help forum updates - Subscribe with us.
                    </p>
                  

                <div class="container">
                    <div class="row" > 
                        <form class="form-material set-submit-input">
                            <div class="form-group set-submit-box">
                                <input type="text" class="form-control" name="subscriber_email" id="subscriber_email" required="">                                            
                                <span class="form-bar"></span>
                                <label class="float-label" for="subscriber_email">Input type email</label>
                            </div>  
                            <button type="button" class="btn btn-primary btn-subscribe common-btn colored-button float-button-light">Subscribe <i class="fa fa-paper-plane ml5" aria-hidden="true"></i></button> 
                        </form>
                    </div>                       
                </div>
            </div>
            </div>
        </section>

        <!--End [Subscribe]-->

        <!--Start [Contact]-->

        <section id="contact">          
            <div class="contact">
                <div id="map"></div>  
                <!--<img class="img img-responsive" src="images/home-bg2.jpg" />-->
                <div class="container">
                <div class="contact-form">
                    <h3 class="m0 mb20">CONTACT US</h3>
          <p>Working contact form along send mail feature with form validation</p>
                    <form class="form-material set-submit-input">
                        <div class="form-group set-submit-box mt0">
                            <input type="text" name="first_name" class="form-control" id="first_name" required="">                                            
                            <span class="form-bar"></span>
                            <label class="float-label" for="first_name">Name</label>
                        </div>
                        <div class="form-group set-submit-box">
                            <input type="text" name="contact_no" class="form-control" id="contact_no" required="">                                            
                            <span class="form-bar"></span>
                            <label class="float-label" for="contact_no">Contact number</label>
                        </div> 
                        <div class="form-group set-submit-box">
                            <input type="text" name="contact_email" class="form-control" id="contact_email" required="">                                            
                            <span class="form-bar"></span>
                            <label class="float-label" for="contact_email">Email</label>
                        </div> 

                        <div class="form-group set-submit-box">
                            <input type="text" class="form-control" name="contact_message" id="contact_message" required="">
                            <span class="form-bar"></span>
                            <label class="float-label" for="contact_message">Message</label>
                        </div> 

                        <div class="form-group set-submit-box">
                            <button type="button" class="btn btn-primary submit_contact common-btn colored-button float-button-light  pull-right">Submit <i class="fa fa-paper-plane ml5" aria-hidden="true"></i></button> 
                        </div>                                                                      
                    </form>
                </div>
                </div>
            </div>
        </section>

        <!--End [Contact]-->  




        <!--Modals Start-->
        <div class="modal fade" id="signin-page">
            <div class="modal-dialog">
                <div>
                    <button type="button" id="btn-close-modal" data-dismiss="modal">
                        <i class="fa fa-times icon-color"></i>
                    </button>
                    <div class="modal-center">
                        <div class="tab-content"> 
                            <!-- Sign in form -->  
                            <form class="modal-background form-material tab-pane transition scale fade in active" id="signin-form" autocomplete="off">
                                <div class="modal-heading">
                                    <h2 class="icon-color">Login</h2>
                                </div>
                                <div class="form-group mt20">
                                    <input type="text" class="form-control" required="">                                            
                                    <span class="form-bar"></span>
                                    <label class="float-label">Enter User-name</label>
                                </div> 
                                <div class="form-group mt20">
                                    <input type="password" class="form-control" required="">                                            
                                    <span class="form-bar"></span>
                                    <label class="float-label">Enter Password</label>
                                </div> 
                                <div class="form-group text-right">
                                    <a href="#">Forgot Password?</a>
                                </div>               
                                <div class="clearfix">

                                    <div class="col-md-12 col-xs-12 login-modal-btn colored-button button btn btn-primary common-btn float-button-light mob-login-modal-btn mb20">
                                        <h3 class="text-center">LOGIN NOW</h3>
                                    </div>
                                </div>
                                <!-- Switching forms (Fake nav tab) -->
                                <div class="row mr0 ml0">
                                    <div class="form-switch pull-right">Do you wish to register for a <a href="#form-1"> New account? </a></div>
                                </div>
                            </form>
                            <!-- Sign up form -->
                            <form class="modal-background form-material tab-pane transition scale fade" id="signup-form">
                                <div class="modal-heading">
                                    <h2 class="icon-color">Sign Up</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mt20">
                                            <input type="text" class="form-control" required="">                                            
                                            <span class="form-bar"></span>
                                            <label class="float-label">Enter User-Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mt20">
                                            <input type="text" class="form-control" required="">                                            
                                            <span class="form-bar"></span>
                                            <label class="float-label">Enter E-mail_ID</label>
                                        </div> 
                                    </div>  
                                </div>      
                                <div class="form-group sign-pw">
                                    <input type="password" class="form-control" required="">                                            
                                    <span class="form-bar"></span>
                                    <label class="float-label">Enter Password</label>
                                </div> 
                                <div class="form-group">
                                    <input type="password" class="form-control" required="">                                            
                                    <span class="form-bar"></span>
                                    <label class="float-label">Confirm Password</label>
                                </div>    
                                <div class="clearfix">

                                    <div class="col-md-12 col-xs-12 login-modal-btn colored-button button btn btn-primary common-btn float-button-light mob-login-modal-btn mb20">
                                        <h3 class="text-center">CREATE ACCOUNT</h3>
                                    </div>
                                </div>
                                <!-- Switching forms (Fake nav tab) -->
                                <div class="row mr0 ml0">
                                    <div class="form-switch pull-right">Already have an account? <a href="#form-2">Sign in</a></div>
                                </div>

                            </form>
                        </div>
                        <!-- Hidden real nav tabs -->
                        <ul class="nav-tabs hidden">
                            <li id="form-1"><a href="#signup-form" data-toggle="tab">Sign up</a></li>
                            <li id="form-2"><a href="#signin-form" data-toggle="tab">Sign in</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
    </body>
</html>
