        <!--Nav Menu Starts-->
        <nav class="navbar default">
            <div class="container mob-logo"> 
                <div class="navbar-header col-sm-2 tablet-logo">
                    <button type="button" class="navbar-toggle mob-menu" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    <div class="mobile-sidebar">                                                  
                        <span class="sidebar-btn btn fa-bar-hide" data-action="toggle" data-side="right">
                            <i class="fa fa-bars"></i>
                        </span>                  
                    </div>                        
                    <a href="index-cloud.html" class="brand-logo">

                        <img src="/assets/logo.png" alt="appestia logo">

                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav pull-right">
                        <li class="active">
                            <a href="#home">Home</a>
                        </li>                      
                        <li>
                            <a href="#magical_feature">Features</a>
                        </li>
                        <li>
                            <a href="#why_us">Whyus</a>
                        </li>
                        <li>
                            <a href="#screenshots">Screenshots</a>
                        </li>
                        <li>
                            <a href="#testimonials">Testimonials</a>
                        </li>  

                        <li>
                            <a href="#packages">Packages</a>
                        </li>
                        <li>
                            <a href="#contact">Contactus</a>
                        </li> 
                        <li>
                            <a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in" class="nav-link sidebar-login mob_connection">
                                Login
                            </a>                            
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-up" class="text-smaller sidebar-signup mob_connection">
                                Signup
                            </a>
                        </li>
                        <li>
                            <div class="mobile-sidebar-none">                                                  
                                <span class="sidebar-btn btn fa-bar-hide" data-action="toggle" data-side="right">
                                    <i class="fa fa-bars"></i>
                                </span>                  
                            </div>
                        </li>
                    </ul>                           
                </div>  

            </div>   
        </nav> 