        <!--Start [Footer]-->

        <footer>
            <section id="footer">
                <div class="container text-center">
                    <div class="row">

                        <h2>The Best Startup For Your <span class="bolder">App</span></h2>
                        <div class="col-md-12"> 

                            <p class="mb20 title-para">                                 

                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt 
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.                                                                               
                            </p>
                        </div>

                        <div class="mb20">

                            <a class="btn default_color available-btn colored-button float-button-light">
                                <i class="fa fa-mobile"></i>
                                <em> Available on </em>
                                App store
                            </a>
                            <a class="btn default_color available-btn colored-button float-button-light">
                                <i class="fa fa-android"></i>
                                <em> Available on </em>
                                Google Play
                            </a>                                 
                        </div>

                        <p class="footer-copyright mb0"> Your App &copy; <span id="copyright-year"><%= Date.today.strftime("%Y") %></span>. All rights reserved </p>

                    </div>
                </div>
            </section>

        </footer>
        <!--End [Footer]--> 
        <!-- Move to up -->
        <a class="btn btn-lg waves-effect waves-light scrollup"><i class="fa fa-arrow-up"></i></a>